{% extends 'componentes/base.html' %}
{% load mathfilters %}
{# Cargar tag de librería #}
{% load bootstrap3 %}
{# Cargar archivos estáticos#}
{% load staticfiles %}

{% block content %}
<div class="container">
    <div class="col-md-5 buscoayuda-index-independiente-cont">
            <h1>{{form.idServicio.nombre}}</h1>
            <a> <img src="{{ form.foto.value }}" width="100%"></a>
    </div>
    <div class="col-md-5">

    <table class="buscoayuda-bottom-hr" id="example" cellspacing="0" width="100%">
        <form action="{% url 'independiente:detalleIndependiente' value=0 %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <!--<{% buttons %}
            input type="submit" value="Añadir" class="btn btn-primary btn-block"/>
            {% endbuttons %} -->
        </form>
        </tbody>
    </table>
    <div id="buscoayuda-independiente-comentario-container" ng-controller="ctrl_independiente">
        <label>Comentarios:</label>
        <div class="buscoayuda-independiente-comentario" ng-repeat="c in comentarios">
            <p><b>[[c.fields.correoElectronico]]:</b> [[c.fields.texto]]</p>
        </div>
    </div>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal-comentario">
      Agregar comentario
    </button>

    <!-- Modal -->
    <div class="modal fade" ng-controller="ctrl_comentario" id="modal-comentario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Agregar comentario</h4>
          </div>
          <form ng-submit="crear_comentario()">
              <div class="modal-body">

                    <div class="form-group">
                        <label for="correoElectronico">Correo electrónico:</label>
                        <input type="email" class="form-control" id="correoElectronico"
                               placeholder="Correo Electrónico" ng-model="comentario.correoElectronico" required maxlength="50">
                    </div>

                    <div class="form-group">
                        <label>Comentario:</label>
                        <textarea class="form-control" rows="4" cols="50" name="texto" ng-model="comentario.texto">
                            Comentario...</textarea>
                    </div>

              </div>
              <div class="modal-footer">
                <input type="submit" class="btn btn-default" value="Agregar">
              </div>
          </form>
        </div>
      </div>
    </div>
    </div>
<script type="text/javascript" language="javascript" src="{% static 'js/index.js'%}"></script>

</div>

{% endblock %}